<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee  http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
<!--    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee  http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
    version="4.0"-->
    <display-name></display-name>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>com.tgzzzxweb.filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>com.tgzzzxweb.filter.MyStrutsFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
<!--    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.filter.StrutsPrepareAndExecuteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>-->
    <filter>
        <filter-name>LoginFiltertow</filter-name>
        <filter-class>com.tgzzzxweb.filter.LoginFiltertow</filter-class>
        <init-param>
            <param-name>noFilterUri</param-name>
            <param-value>
                login.jsp;/login.do;js;css;images;/index.html;addstudent.jsp;adduser.jsp;/upload/;
                jump.html;modify.jsp,modifyuserpwd.jsp;selectshowstudent.jsp;ShowAllStudent.jsp;showalluser.jsp;updateuser.jsp;StudentThereare.html;/user_showUser.do;/user_upUser.do;/showUser.do;/user_addUser.do;/personal_order.do;/personal_uppeople.do;/main_shoudai.do;/editshoudai.jsp;/modify_showshoudai.do;/modify_showxudai.do;/modify_showhuankuan.do;/modify_shoudai.do;/modify_xudai.do;/modify_huankuan.do;
                /student_addStudent.do;/student_showallStudent.do;/index_userlogin.do;/index_exit.do;/index_userregister.do;/jump.html;/personal_vgerenjilu.do;/personal_pgerenjilu.do;/personal_vjudge.do;/personal_pjudge.do;/personal_addvolunteer.do;/personal_modifyvolunteer.do;/personal_editxinxi.do;/personal_addpeople.do;
            </param-value>
        </init-param>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>LoginFiltertow</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <listener>
        <listener-class>com.tgzzzxweb.util.HibernateListener</listener-class>
    </listener>
     异常配置
    <error-page>
        <exception-type>javax.servlet.ServletException</exception-type>
        <location>/error.jsp</location>
    </error-page>
    <!-- 找不到页面配置 -->
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
</web-app>